USE [master]
GO
/****** Object:  Database [EmployeeDBB]    Script Date: 4/27/2021 4:30:05 PM ******/
CREATE DATABASE [EmployeeDBB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDBB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EmployeeDBB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeDBB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EmployeeDBB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDBB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDBB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/27/2021 4:30:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[EmailAdress] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [EmailAdress], [MobileNumber]) VALUES (1, N'sad', N'sd@gmail.com', N'121333333')
USE [master]
GO
